body {
  font-family: 'Noto Sans JP', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 13%;
}

#box1, #box2 {
    line-height: unset;
    min-height: 60rem;
    width: 100%;
}

#face {
  width: auto ;
  max-width: 60%;
  height: auto ;
}

#salem {
    text-align: center;
}

#about {
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 90%;
 
}

#p
{
  width: 100%;
}