body {
  font-family: "Roboto";
  font-size: 19px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.horizontal-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.left-element {
  width: max-content;
}

.center-element {
  width: 1%;
}

.right-element {
  width: max-content;
}