<!doctype html>
<html lang="en">

<head>
  {% import "bootstrap/utils.html" as utils %}

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href="static/keyboard/emojionearea.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
  
  <script src="static/keyboard/emojionearea.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

  <style>
    .loader {
      border: 3px solid #f3f3f3;
      border-radius: 50%;
      border-top: 3px solid #3498db;
      width: 30px;
      height: 30px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }
    
    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    .horizontal-container {
      height: 100%;
      width: 100%;
      display: flex;
    }
    
    .left-element {
      width: max-content;
    }

    .center-element {
      width: 1%;
    }

    .right-element {
      width: max-content;
    }
  </style>
  <title>Emojiset Mining Research</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Research
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Emojiset Mining</a>
            <a class="dropdown-item" href="#">Epidemiology</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="mt-3">Emojiset Mining Research</h5>
        <div class="card mt-3">
          <div class="card-body">
            
            <form id="taskForm" class="form" method="POST">
              <div class="form-group">
                <label>Discover Emoji Sequences from Tweets</label>
                <input type="text" class="form-control" id="keywords" name="keywords" placeholder="Enter Keywords">
                <small id="keywords_help" class="form-text text-muted">Example: multiple can be inputted, separated by commas: (♏️☄️, basketball, YouTube, 🙏, Zoom)</small>
                <input type="number" name="total_tweets" min="0" max="10000" step="1" oninput="validity.valid||(value='');" class="form-control" placeholder="Total Tweets (Default is 100)">
                <small id="tweets_amount_help" class="form-text text-muted">10000 Tweets Max</small>
                
                <div class="horizontal-container">
                  <div class="left-element">
                    <div class="card mt-3">
                      <div class="card-body">
                        <input type="radio" id="search" name="twarc_method" value="search" checked>
                        <label for="search">Pull tweets from the last week</label><br>
                        <input type="radio" id="filter" name="twarc_method" value="filter">
                        <label for="filter">Pull tweets as they happen (slower)</label><br>
                        <input type="radio" id="sample" name="twarc_method" value="sample">
                        <label for="sample">Pull random sample of recent public statuses (doesn't use keywords)</label>
                        <hr>
                        <input type="checkbox" id="discard_box" name="discard_box" value="discard">
                        <label for="discard_box">Discard tweets without emojis</label>
                      </div>
                    </div>
                  </div>
                  <div style="width: 1%;" ></div>
                  <div class="right-element">
                    <div class="card mt-3">
                      <div class="card-body">
                        <label>Select Language:</label>
                        <br>
                        <select name="languages" id="languages">
                          <option value="en">English</option>
                          <option value="sp">Spanish</option>
                          <option value="ch">Chinese</option>
                          <option value="ge">German</option>
                          <option value="ru">Russian</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <br>

                <div class="horizontal-container">
                  <div class="left-element">
                    <button id="submit" value="submit_keywords" type="submit" class="btn btn-primary">Submit</button>
                  </div>
                  <div style="width: 1%;" ></div>
                  <div style="width: max-content;">
                    <progress id="progress_bar" max="100"></progress>
                  </div>
                  <div style="width: 1%;" ></div>
                  <div class="right-element">
                      <label id="discarded_tweets"></label>
                  </div>
                </div>
              </div>
            </form>
          
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <div id=result_container>
              {{utils.flashed_messages(container=False, dismissible=True)}}
              {% block main %} {% endblock %}
        </div>
      </div>
    </div>
  </div>

</body>
</html>
