<!doctype html>
<html lang="en">

<head>
  {% import "bootstrap/utils.html" as utils %}

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="#" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

  <link rel="stylesheet" href="static/keyboard/emojionearea.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

  <script src="static/keyboard/emojionearea.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

  <title>Emojiset Mining Research</title>
</head>

<body>
  <!--Navigation bar (Navbar: Home, Team, Research, About*-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home_page') }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Research
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Emojiset Mining</a>
            <a class="dropdown-item" href="#">Epidemiology</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col">
        <!--Title of Project*-->
        <h5 class="mt-3">Emojiset Mining Research</h5>
        <div class="card mt-3">
          <div class="card-body">
            <!--Establish form with 2 textboxes for user input (keywords (defaults to using sample) and # of tweets (defaults to 100))*-->
            <form id="taskForm" class="form" method="POST">
              <div class="form-group">
                <label>Discover Emoji Sequences from Tweets</label>
                <div class="popup" onclick="show_help()">
                  <image id="info" src="/static/images/info.jpg" />
                  <span class="popuptext" id="myPopup">
                    <small class="form-text">
                      <!--(some tweets may not include all words, however the tweet they are replying to will)-->

                      Users may use a comma (OR) and a space (AND) to separate keywords<br>
                      Pull tweets from last week ONLY: Use quotes to search for an exact phrase<br>
                      <div style="line-height:50%;">
                        <br>
                      </div>
                      Example (last week): vote 2020, "happy hour" -> (vote AND 2020) OR happy hour<br>
                      Example (real time): 🙏, best car -> 🙏 OR (best AND car)
                    </small>
                  </span>
                </div>
                <input type="text" class="form-control" id="keywords" name="keywords" placeholder="Enter Keywords">
                <div style="line-height:30%;">
                  <br>
                </div>
                <input type="number" class="form-control" id="total_tweets" name="total_tweets" min="0" max="2000"
                  step="1" oninput="validity.valid||(value='');" placeholder="Total Tweets (Default is 100)"
                  aria-describedby="tweets_amount_help">
                <small id="tweets_amount_help" class="form-text text-muted">2000 Tweets Max</small>
                <hr>
                <!--User chooses between search, filter, and sample (search by default, if filter is used with no keywords, no tweets are found)*-->
                <select name="twarc-method" id="twarc-method" class="form-control">
                  <option value="search">Pull tweets from the last week</option>
                  <option value="filter">Pull tweets as they happen (slower)</option>
                  <option value="sample">Pull random sample of recent public statuses (doesn't use keywords)</option>
                </select>
                <input type="checkbox" id="discard_box" name="discard_box" value="discard">
                <label for="discard_box"><small class="form-text text-muted">Discard tweets
                    without emojis</small></label>
                <br>
                <!--Leaving button closed will ignore all options within, will open automatically if switch is made between search or filter but can be closed if desired*-->
                <div class="horizontal-container">
                  <button id="tweet_selection_settings" style="width: 100%" class="btn btn-secondary">Additional tweet
                    selection settings</button>
                </div>
                <br>
                <div id='selection_settings_container'></div>
                <div class="horizontal-container">
                  <button id="submit" value="submit_keywords" type="submit" class="btn btn-primary">Submit</button>
                  <div style="width: 2%;"></div>
                  <button id="cancel" value="cancel_job" type="submit" class="btn btn-primary">Cancel</button>
                  <div style="width: 4%;"></div>
                  <div id=progress_bar_div class="progress" style="width: 25%; margin: 10px;">
                    <div id="progress_bar" class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0"
                      aria-valuemax="100"><small></small></div>
                  </div>
                  <div style="width: 2%;"></div>
                  <div id="discarded_tweets">
                    <span class="badge badge-secondary" style="padding-top: 5px; width: 75px; height:30px;">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash align-middle" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                      </svg>
                      <label id="discarded_tweets_lbl"><small></small></label>
                    </span>
                  </div>  
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!--Refers to main.js and returns results (implemented in main.js)*-->
  <div class="container">
    <div class="row">
      <div class="col">
        <div id=result_container>
          {{utils.flashed_messages(container=False, dismissible=True)}}
          {% block main %} {% endblock %}
        </div>
      </div>
    </div>
  </div>

  <!--Additional selection settings for SEARCH* (initially hidden)-->
  <div id='hidden_selection_settings' style="visibility: hidden;">
    <div class="container">
      <div class="row">
        <div class="col">
          <select name="languages" id="languages" class="form-control">
            <option value="all">All</option>
            <option value="en">English</option>
            <option value="es">Spanish</option>
            <option value="zh">Chinese</option>
            <option value="ar">Arabic</option>
            <option value="de">German</option>
            <option value="ru">Russian</option>
          </select>
          <br>
          <div class="row">
            <div class="col">
              <input type="date" class="form-control" id="since-date" name="since-date" min="2010-01-01"
                max="2025-10-12">
            </div>
            <span>—</span>

            <div class="col">
              <input type="date" class="form-control" id="until-date" name="until-date" min="2010-01-01"
                max="2025-10-12">
            </div>
          </div>
          <div style="line-height:30%;">
            <br>
          </div>
          <div class="row">
            <div class="col">
              <input type="number" class="form-control" id="min-likes" name="min-likes" placeholder="Minimum likes">
            </div>
            <span>—</span>
            <div class="col">
              <input type="number" class="form-control" id="max-likes" name="max-likes" placeholder="Maximum likes">
            </div>
          </div>
          <br>
          <select name="result_type" id="results" class="form-control">
            <option value="mixed">Include both popular and real time results</option>
            <option value="recent">Include only the most recent results</option>
            <option value="popular">Include only the most popular results</option>
          </select>
        </div>
        <div class="col">
          <label class="sr-only" for="inlineFormInputGroupUsername">UsernameFrom</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="from-user" name="from-user" placeholder="From user">
          </div>
          <div style="line-height:30%;">
            <br>
          </div>
          <label class="sr-only" for="inlineFormInputGroupUsername">UsernameTo</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="to-user" name="to-user" placeholder="To user">
          </div>
          <div style="line-height:30%;">
            <br>
          </div>
          <label class="sr-only" for="inlineFormInputGroupUsername">UsernameMentions</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="mentioned-user" name="mentioned-user"
              placeholder="Mentioned user">
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">#</div>
            </div>
            <input type="text" class="form-control" id="hashtags" name="hashtags" placeholder="Hashtags">
          </div>
          <div class="row">
            <div class="col">
              <input type="checkbox" id="verified" name="verified" value="veri">
              <label for="verified"><small class="form-text text-muted">Verified users only <img
                    src="/static/images/verified.png" width="15" height="15"></small></label>
            </div>
            <!--Search finds results in this kind of format: language OR location OR mentioned users OR etc...*-->
            <!--The operator below can change the default OR to AND, however similar search queries will always use OR (ie: English AND (#charity OR #trees) AND minimum 100 likes)*-->
            <label for="operator">
              <medium class="form-text text-muted">Tweets fit:</medium>
            </label>
            <div class="col-sm-4">
              <select name="operator" id="operator" class="form-control">
                <option value="OR">any setting</option>
                <option value="AND">all settings</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <!--Search finds locations using longitude and latitude*-->
      <h7 class="mt-3">Location</h5>
        <div class="row">
          <div class="col">
            <input type="number" class="form-control" id="long" name="long" placeholder="Longitude">
          </div>
          <div class="col">
            <input type="number" class="form-control" id="lat" name="lat" placeholder="Latitude">
          </div>
        </div>
        <br>
        <!--Only available with premium twitter dev accounts*-->
        <small class="form-text text-muted">City and 'near me' are only available with premium API</small>
        <div class="row">
          <div class="col-sm-3">
            <input type="text" class="form-control" id="city" name="city" placeholder="City" disabled>
          </div>
          <div class="col-sm-3">
            <input type="number" class="form-control" id="radius" name="radius" placeholder="Radius (default 10)">
          </div>
          <div class="col-sm-2">
            <select name="units" id="units" class="form-control">
              <option value="km">km</option>
              <option value="mi">mi</option>
            </select>
          </div>
        </div>
        <!--Only available with premium twitter dev accounts*-->
        <div class="row">
          <div class="col">
            <input type="checkbox" id="near-me" name="near-me" value="near" disabled>
            <label for="near-me"><small class="form-text text-muted">Near me</small></label>
          </div>
        </div>

    </div>
    <br>
  </div>

  <!--Additional selection settings for FILTER*-->
  <!--Filter finds results in this kind of format: language AND location AND mentioned users AND etc...*-->
  <!--With the way the api is built, it is only possible to search in this kind of format: English AND (#charity OR #trees) AND minimum 100 likes*-->
  <div id="hidden_filter_selection_settings" style="visibility: hidden;">
    <div class="container">
      <div class="row">
        <div class="col">
          <select name="languages" id="languages" class="form-control">
            <option value="all">All</option>
            <option value="en">English</option>
            <option value="es">Spanish</option>
            <option value="zh">Chinese</option>
            <option value="ar">Arabic</option>
            <option value="de">German</option>
            <option value="ru">Russian</option>
          </select>
          <br>
          <!--Filter find location by forming a square around the desired location using 4 points*-->
          <!--To be consistent in formatting, we would take the coordinates and radius from the user and convert it to a square ("def create_bounding_box(long, lat, radius)"" in views.py)*-->
          <h7 class="mt-3">Location</h5>
            <div class="row">
              <div class="col">
                <input type="number" class="form-control" id="long" name="long" placeholder="Longitude">
              </div>
              <div class="col">
                <input type="number" class="form-control" id="lat" name="lat" placeholder="Latitude">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="number" class="form-control" id="radius" name="radius" placeholder="Radius (default 10)">
              </div>
              <div class="col-sm-3">
                <select name="units" id="units" class="form-control">
                  <option value="km">km</option>
                  <option value="mi">mi</option>
                </select>
              </div>
            </div>
        </div>
        <div class="col">
          <div style="line-height:160%;">
            <br>
          </div>
          <!--Filter is unable to use UsernameTo and UsernameMentions*-->
          <label class="sr-only" for="inlineFormInputGroupUsername">UsernameFrom</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="from-user" name="from-user" placeholder="From user">
          </div>
          <div style="line-height:210%;">
            <br>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">#</div>
            </div>
            <input type="text" class="form-control" id="hashtags" name="hashtags" placeholder="Hashtags">
          </div>
        </div>
      </div>
    </div>
    <br>
</body>

</html>
