<!DOCTYPE html>
<html lang="en">

<head>
	{% import "bootstrap/utils.html" as utils %}
	<title>Emojiset Mining</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

	<!-- Emoji keyboard css -->
	<link rel="stylesheet" href="https://cdn.rawgit.com/mervick/emojionearea/master/dist/emojionearea.min.css">
	<!-- Emojiset page styles -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- Fonts -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Toggle checkbox styles -->
	<link rel="stylesheet" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">

	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
	<!-- Link to our CSS styles -->
	<link rel="stylesheet" href="{{ url_for('static', filename='styles_emojiset.css') }}">


	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
	<!-- Emoji keyboard JS -->
	<script type="text/javascript" src="https://cdn.rawgit.com/mervick/emojionearea/master/dist/emojionearea.min.js">
	</script>
	<!-- Toggle checkbox JS -->
	<script type="text/javascript" src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js">
	</script>
	<!-- Navigation (different mining types) JS -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<!-- Converting table to excel file -->
	<script type="text/javascript"
		src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
	<!-- Table sorter -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.14/js/jquery.tablesorter.min.js"></script>
	<!-- Link to our JS scripts -->
	<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>
	<!-- Navbar -->
    <!--Navigation bar (Navbar: Home, Team, Research, About*-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="opacity: 0.9;">

        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home_page') }}">
                        <em class="fa fa-home"></em> Home <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#teams" onclick="GoToTeam(); return false"><em class="fa fa-group"></em> Team</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <em class="fa fa-search"></em>
                        Research
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('emojiset_mining') }}">Emojiset Mining</a>
                        <a class="dropdown-item" href="{{ url_for('epidemiology') }}">Epidemiology</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="">SOGOResearch</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#contact" onclick="GoToContact(); return false">
                        <em class="fa fa-envelope"></em> Contact <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><em class="fa fa-user-circle-o"></em> Profile </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-cyan"
                        aria-labelledby="navbarDropdownMenuLink-4">
                        <a class="dropdown-item" href="{{ url_for('user.register') }}">Register</a>
                        <a class="dropdown-item" href="{{ url_for('user.edit_user_profile') }}">My account</a>
                        <a class="dropdown-item" href="{{ url_for('user.logout') }}">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-7 mx-auto">
				<div class="bg-white rounded-lg shadow-sm p-5">
					<!-- For demo purpose -->
					<div id="header_container" class="row mb-4">
						<div class="col-lg-8 mx-auto text-center">
							<h2 class="display-4">Emojiset Mining Research</h2>
							<p class="lead mb-0">Platform for mining tweets and extracting emojisets</p>
							<p class="lead">Read more at <a href="{{ url_for('documentation') }}">Documentation</a></p>
						</div>
					</div>

					<!-- End -->
					<ul id="primary-menu" role="tablist" class="nav bg-light nav-pills rounded-pill mb-3"
						style="justify-content: center;">
						<li class="nav-item">
							<a data-toggle="pill" href="#small_dataset_mining" class="nav-link active rounded-pill">
								🏃‍♀️
								Run and save the query
							</a>
						</li>
						<li class="nav-item">
							<a data-toggle="pill" href="#large_dataset_mining" class="nav-link rounded-pill">
								🕑
								Collect large dataset
							</a>
						</li>
					</ul>
					<hr>

					<div class="tab-content">
						<div id="small_dataset_mining" class="tab-pane fade show active">
							<!-- Small dataset mining form tabs -->
							<ul id="secondary-menu" role="tablist"
								class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
								<li class="nav-item">
									<a data-toggle="pill" href="#historical-search"
										class="nav-link active rounded-pill">
										📜
										Historical search
									</a>
								</li>
								<li class="nav-item">
									<a data-toggle="pill" href="#realtime-filter" class="nav-link rounded-pill">
										📻
										Real time filter
									</a>
								</li>
								<li class="nav-item">
									<a data-toggle="pill" href="#sample" class="nav-link rounded-pill">
										🔀
										Random sample
									</a>
								</li>
							</ul>
							<!-- End -->

							<div id="progress_wrapper">
								<div class="form-row">
									<div class="col">
										<div class="form-group">
											<div id=progress_bar_div class="progress">
												<div id="progress_bar" class="progress-bar bg-success"
													role="progressbar" aria-valuenow="" aria-valuemin="0"
													aria-valuemax="100"><small></small>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-0">
										<div class="form-group mb-0">
											<div id="discarded_tweets">
												<h6><span class="badge badge-secondary">
														<label id="discarded_tweets_lbl">🗑️<span
																class="hidden-xs"></span></label></h6>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- 📜 Historical Search form content -->
							<div class="tab-content">
								<!-- credit card info-->
								<div id="historical-search" class="tab-pane fade show active">
									<form id="taskForm" role="form">
										<label for="keywords" data-toggle="tooltip"
											title="Use comma to separate keywords">🗣️
											Keywords
											<i class="fa fa-question-circle"></i>
										</label>
										<div class="form-row">
											<div class="col">
												<div class="form-group">
													<input type="text" id="keywords" name="keywords"
														placeholder="🐶, dogs on twitter, -covid19" required
														class="form-control" data-emojiable="true">
												</div>

											</div>
											<div class="col-sm-0">

												<div class="form-group mb-0" style="margin-top:0.08em">
													<input id="discard_box" name="discard_box" type="checkbox" checked
														data-toggle="toggle" data-on="😊" data-off="❌"
														data-size="small">
												</div>

											</div>
										</div>

										<div class="form-group">
											<label for="tweet_amount"><span class="hidden-xs">💯 Tweet
													amount</span></label>
											<div class="input-group">
												<input type="number" id="tweet_amount" name="tweet_amount"
													placeholder="100 is default" class="form-control" min="0"
													max="10000" step="1" oninput="validity.valid||(value='');">
												<div class="input-group-append">
													<span class="input-group-text text-muted">
														10000 max
													</span>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-sm-4">
												<div class="form-group mb-4">
													<label><span class="hidden-xs">🗓️ Since</span></label>
													<input type="date" class="form-control" id="since-date"
														name="since-date" min="2010-01-01" max="2025-10-12">

												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group mb-4">
													<label><span class="hidden-xs">🗓️ Until</span></label>
													<input type="date" class="form-control" id="until-date"
														name="until-date" min="2010-01-01" max="2025-10-12">

												</div>
											</div>


											<div class="col-sm-4">
												<div class="form-group mb-4">
													<label><span class="hidden-xs">🌍 Language</span></label>
													<select name="languages" id="languages" class="form-control">
														<option value="all">🗺️ All</option>
														<option value="en">🇬🇧 English</option>
														<option value="es">🇪🇸 Spanish</option>
														<option value="zh">🇨🇳 Chinese</option>
														<option value="ar">🇱🇾 Arabic</option>
														<option value="de">🇩🇪 German</option>
														<option value="ru">🇷🇺 Russian</option>
														<option value="pl">🇵🇱 Polish</option>
													</select>
												</div>
											</div>
										</div>

										<!-- Location -->
										<input type="checkbox" id="verified" name="verified" value="veri">
										<label for="verified"><span class="hidden-xs"><img
													src="/static/images/verified.png" width="15" height="15"> Verified
												users only </span></label>
										<div class="row">
											<div class="col">
												<div class="form-group">
													<label class="sr-only"
														for="inlineFormInputGroupUsername">UsernameFrom</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<div class="input-group-text">@</div>
														</div>
														<input type="text" class="form-control" id="from-user"
															name="from-user" placeholder="from user">
													</div>
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<label class="sr-only"
														for="inlineFormInputGroupUsername">UsernameTo</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<div class="input-group-text">@</div>
														</div>
														<input type="text" class="form-control" id="to-user"
															name="to-user" placeholder="to user">
													</div>
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<label class="sr-only"
														for="inlineFormInputGroupUsername">UsernameMentions</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<div class="input-group-text">@</div>
														</div>
														<input type="text" class="form-control" id="mentioned-user"
															name="mentioned-user" placeholder="mentioned user">
													</div>
												</div>
											</div>
										</div>
										<!-- Location -->
										<label><span class="hidden-xs">📍 Location</span></label>
										<div class="row">
											<div class="col">
												<div class="form-group">
													<div class="input-group">
														<input type="number" class="form-control" id="long" name="long"
															placeholder="longitude">
													</div>
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<div class="input-group">
														<input type="number" class="form-control" id="lat" name="lat"
															placeholder="latitude">
													</div>
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<div class="input-group">
														<input type="number" class="form-control" id="radius"
															name="radius" placeholder="radius" min="0" step="1">
														<input type="checkbox" name="units" id="units" checked
															data-toggle="toggle" data-offstyle="info" data-on="km"
															data-off="mi">
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-sm-4">
												<div class="form-group mb-4">
													<label><span class="hidden-xs">👍 Likes</span></label>
													<div class="input-group">
														<input type="number" class="form-control" id="min-likes"
															name="min-likes" placeholder="min" min="0" step="1">
														<input type="number" class="form-control" id="max-likes"
															name="max-likes" placeholder="max" min="0" step="1">
													</div>
												</div>
											</div>
											<div class="col">
												<div class="form-group">

													<label><span class="hidden-xs">📰 Post type</span></label>
													<select name="result_type" id="results" class="form-control">
														<option value="mixed">All</option>
														<option value="recent">📨🗞️ Most recent</option>
														<option value="popular">🔥🔥🔥 Most popular</option>
													</select>
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<label><span class="hidden-xs">⚙️ Settings</span></label>
													<div class="input-group">
														<input name="operator" id="operator" type="checkbox" checked
															data-toggle="toggle" data-offstyle="info" data-on="all"
															data-off="any">

													</div>
												</div>
											</div>
										</div>
										<button id="cancel" name="cancel" type="submit"
											class="subscribe btn btn-danger btn-block rounded-pill shadow-sm">✖️ Cancel
										</button>
										<button id="submit" name="submit" type="submit"
											class="subscribe btn btn-primary btn-block rounded-pill shadow-sm">👌
											Confirm
										</button>
									</form>
								</div>
								<!-- End -->

								<!-- Real Time Filter  -->
								<div id="realtime-filter" class="tab-pane fade">
									<form id="taskForm_filter" role="form">
										<label for="keywords" data-toggle="tooltip"
											title="Use comma to separate keywords">🗣️
											Keywords
											<i class="fa fa-question-circle"></i>
										</label>
										<div class="form-row">
											<div class="col">
												<div class="form-group">
													<input type="text" id="keywords_filter" name="keywords_filter"
														placeholder="🐶, dogs on twitter, -covid19" required
														class="form-control" data-emojiable="true">
												</div>

											</div>
											<div class="col-sm-0">
												<div class="form-group mb-0" style="margin-top:0.08em">
													<input id="discard_box_filter" name="discard_box_filter"
														type="checkbox" checked data-toggle="toggle" data-on="😊"
														data-off="❌" data-size="small">
												</div>
											</div>
										</div>

										<div class="form-group">
											<label for="tweet_amount_filter">💯 Tweet amount</label>
											<div class="input-group">
												<input type="number" id="tweet_amount_filter" name="tweet_amount_filter"
													placeholder="100 is default" class="form-control" min="0"
													max="10000" step="1" oninput="validity.valid||(value='');">
												<div class="input-group-append">
													<span class="input-group-text text-muted">
														10000 max
													</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<div class="form-group">
													<label class="sr-only"
														for="inlineFormInputGroupUsername">UsernameFrom</label>
													<label><span class="hidden-xs">👥 Filter by users</span></label>
													<div class="input-group">
														<div class="input-group-prepend">
															<div class="input-group-text">@</div>
														</div>
														<input type="text" class="form-control" id="from-user_filter"
															name="from-user_filter" placeholder="from">
													</div>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group mb-4">
													<label><span class="hidden-xs">🌍 Language</span></label>
													<select name="languages_filter" id="languages_filter"
														class="form-control">
														<option value="all">🗺️ All</option>
														<option value="en">🇬🇧 English</option>
														<option value="es">🇪🇸 Spanish</option>
														<option value="zh">🇨🇳 Chinese</option>
														<option value="ar">🇱🇾 Arabic</option>
														<option value="de">🇩🇪 German</option>
														<option value="ru">🇷🇺 Russian</option>
														<option value="pl">🇵🇱 Polish</option>
													</select>
												</div>
											</div>
										</div>
										<!-- Location -->
										<label><span class="hidden-xs">📍 Location</span></label>
										<div class="row">
											<div class="col">
												<div class="form-group">
													<div class="input-group">
														<input type="number" class="form-control" id="long_filter"
															name="long_filter" placeholder="longitude">
													</div>
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<div class="input-group">
														<input type="number" class="form-control" id="lat_filter"
															name="lat_filter" placeholder="latitude">
													</div>
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<div class="input-group">
														<input type="number" class="form-control" id="radius_filter"
															name="radius_filter" placeholder="radius" min="0" step="1">

														<input type="checkbox" name="units_filter" id="units_filter"
															checked data-toggle="toggle" data-offstyle="info"
															data-on="km" data-off="mi">

													</div>
												</div>
											</div>
										</div>
										<button id="cancel_filter" name="cancel_filter" type="submit"
											class="subscribe btn btn-danger btn-block rounded-pill shadow-sm">✖️ Cancel
										</button>
										<button id="submit_filter" name="submit_filter" type="submit"
											class="subscribe btn btn-primary btn-block rounded-pill shadow-sm">👌
											Confirm
										</button>
									</form>
								</div>
								<!-- End -->

								<!-- Sample -->
								<div id="sample" class="tab-pane fade">
									<form id="taskForm_sample" role="form">
										<label><span class="hidden-xs">💯 Tweet amount </span></label>
										<div class="form-row">
											<div class="col">
												<div class="form-group">
													<div class="input-group">
														<input type="number" id="tweet_amount_sample"
															name="tweet_amount_sample" placeholder="100 is default"
															class="form-control" min="0" max="10000" step="1"
															oninput="validity.valid||(value='');">
														<div class="input-group-append">
															<span class="input-group-text text-muted">
																10000 max
															</span>
														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-0">

												<div class="form-group mb-0" style="margin-top:0.08em">
													<input id="discard_box_sample" name="discard_box_sample"
														type="checkbox" checked data-toggle="toggle" data-on="😊"
														data-off="❌" data-size="small">
												</div>

											</div>
										</div>
										<button id="cancel_sample" name="cancel_sample" type="submit"
											class="subscribe btn btn-danger btn-block rounded-pill shadow-sm">✖️ Cancel
										</button>
										<button id="submit_sample" name="submit_sample" type="submit"
											class="subscribe btn btn-primary btn-block rounded-pill shadow-sm">👌
											Confirm
										</button>
									</form>
								</div>
								<!-- End -->

								<!-- End -->
								<div id="results_wrapper_container">
									<div id="result_container" class="container-fluid">
										{{utils.flashed_messages(container=False, dismissible=True)}}
										{% block main %} {% endblock %}
									</div>
								</div>
							</div>
						</div>


						<div id="large_dataset_mining" class="tab-pane fade">
							<!-- collection settings -->
							<ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
								<li class="nav-item">
									<a data-toggle="pill" href="#nav-tweet-amount" class="nav-link active rounded-pill">
										🔢
										Number of Tweets
									</a>
								</li>
								<li class="nav-item">
									<a data-toggle="pill" href="#nav-memory-size" class="nav-link rounded-pill">
										💾
										Size of Dataset
									</a>
								</li>
								<li class="nav-item">
									<a data-toggle="pill" href="#nav-time-range" class="nav-link rounded-pill">
										📅
										Time range
									</a>
								</li>
							</ul>
							<!-- End -->

							<!--STATUS OF COLLECTION HERE-->
							<div class="row">
								<div class="col">

									<!--INSERT QUERIES HERE-->
									<div class="card">
										<a class="accordion-body" collapse data-toggle="collapse"
											data-target="#collapseOne" aria-controls="collapseOne">
											<div class="card-header" id="headingOne">
												↕️ Saved Queries (click to expand)
											</div>
										</a>

										<div id="collapseOne" class="collapse hide" aria-labelledby="headingOne">
											<ul class="nav nav-tabs nav-fill" role="tablist">
												<li class="nav-item">
													<a data-toggle="pill" class="nav-link active" href="#card-search">📜
														Historical
														search</a>
												</li>
												<li class="nav-item">
													<a data-toggle="pill" class="nav-link" href="#card-filter">📻 Real
														time
														filter</a>
												</li>
												<li class="nav-item">
													<a data-toggle="pill" class="nav-link" href="#card-sample">🔀 Random
														sample</a>
												</li>
											</ul>

											<div class="tab-content">
												<div id="card-search" class="tab-pane fade show active">
													<div id="saved_search_queries_container" class="queries_table">
														<div class="card-body">
															<p class="card-text">You don't have any saved historical
																search queries yet.
																Please go to the "run and save your query" page first.
															</p>
															<a href="" class="btn btn-primary">Run and save query</a>
														</div>
													</div>
												</div>
												<div id="card-filter" class="tab-pane fade">
													<div id="saved_filter_queries_container" class="queries_table">
														<div class="card-body">
															<p class="card-text">You don't have any saved realtime
																filter queries yet.
																Please go to
																the "run and save your query" page first.</p>
															<a href="" class="btn btn-primary">Run and save query</a>
														</div>
													</div>
												</div>
												<div id="card-sample" class="tab-pane fade">
													<div id="saved_sample_queries_container" class="queries_table">
														<div class="card-body">
															<p class="card-text">You don't have any saved sample queries
																yet.
																Please go to
																the "run and save your query" page first.</p>
															<a href="" class="btn btn-primary">Run and save query</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Form content -->
							<div class="tab-content" style="margin-top: 1em">
								<!-- number of tweets -->
								<div id="nav-tweet-amount" class="tab-pane fade show active">
									<form id="longTaskFormTA" role="form">
										<label for="tweet-amount-row">Select number of tweets and size of each
											individual file with results</label>
										<div id="tweet-amount-row">

											<div class="form-group">
												<div class="input-group">
													<input type="number" id="tweet_amount_long" name="tweet_amount_long"
														placeholder="💯 Amount of tweets to mine" class="form-control"
														min="0" step="1" oninput="validity.valid||(value='');">
													<div class="input-group-append">
														<span class="input-group-text text-muted">
															unlimited
														</span>
													</div>
												</div>
											</div>

										</div>
									</form>
								</div>
								<!-- End -->

								<!-- size of dataset -->
								<div id="nav-memory-size" class="tab-pane fade">
									<form id="longTaskFormME" role="form">
										<label for="memory-size-row">Select total result size and size of each
											individual file with results</label>
										<div id="memory-size-row">

											<div class="form-group">
												<div class="input-group">
													<input type="number" min="0" class="form-control w-75" id="set_size"
														name="set_size" placeholder="Size of dataset">
													<select name="size_units" id="size_units" class="form-control">
														<option value="kb">kb</option>
														<option value="mb">mb</option>
														<option value="gb">gb</option>
														<option value="tb">tb</option>
													</select>
												</div>
											</div>
										</div>


									</form>
								</div>
								<!-- End -->

								<!-- collect tweets until date -->
								<div id="nav-time-range" class="tab-pane fade">
									<form id="longTaskFormDT" role="form">
										<label for="time-length-row">Select how long you want to mine for and size of
											each individual file with results</label>
										<div id="time-length-row">
											<div class="form-group">
												<!-- NOT SHOWING IN FIREFOX -->
												<div class="input-group">
													<input type="date" class="form-control" id="date-length"
														name="time-length">
													<input type="time" class="form-control" id="time-length"
														name="time-length">
												</div>
											</div>
										</div>
									</form>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="card" id="card_extract_primary">
											<div class="card-header">
												Main output file (csv)
											</div>
											<div class="card-body" id="extract_primary">
												<div class="row" style="margin-bottom: 1em;">
													<div class="col">
														<label for="filename_input">Output file name:</label>
														<div class="input-group">
															<input class="form-control form-control-sm" type="text"
													placeholder="file name" id="filename_input" disabled>
														</div>
													</div>
												</div>
												
												<div class="form-row">
													<div class="col">
														<div class="form-check">
															<input class="form-check-input" type="checkbox"
																value="timestamp" id="ch_timestamp">
															<label class="form-check-label" for="ch_timestamp">
																Created at
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox"
																value="tweet_url" id="ch_tweet_url">
															<label class="form-check-label" for="ch_tweet_url">
																Tweet Url
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="id"
																id="ch_id">
															<label class="form-check-label" for="ch_id">
																Tweet Id
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox"
																value="username" id="ch_username">
															<label class="form-check-label" for="ch_username">
																Username
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="text"
																id="ch_text">
															<label class="form-check-label" for="ch_text">
																Tweet text
															</label>
														</div>
													</div>
													<div class="col">
														<div class="form-check">
															<input class="form-check-input" type="checkbox"
																value="emojiset" id="ch_emojiset">
															<label class="form-check-label" for="ch_emojiset">
																Emojiset
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox"
																value="hashtag" id="ch_hashtag">
															<label class="form-check-label" for="ch_hashtag">
																Hashtags
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="url"
																id="ch_url">
															<label class="form-check-label" for="ch_url">
																URLs
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox"
																value="image_url" id="ch_image_url">
															<label class="form-check-label" for="ch_image_url">
																Image URLs
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="card" id="card_extract_secondary">
											<div class="card-header">
												Additional files (json, csv, txt, image)
											</div>
											<div class="card-body" id="extract_secondary">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="full_tweet"
														id="ch_full_tweet">
													<label class="form-check-label" for="ch_full_tweet">
														Full tweet data
													</label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="images"
														id="ch_images">
													<label class="form-check-label" for="ch_images">
														Images
													</label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="checkbox"
														value="hashtag_hashtag" id="ch_hashtag_hashtag">
													<label class="form-check-label" for="ch_hashtag_hashtag">
														Hashtags that are used together
													</label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="user_hashtag"
														id="ch_user_hashtag">
													<label class="form-check-label" for="ch_user_hashtag">
														Users and hashtags they use
													</label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="mentioned"
														id="ch_mentioned">
													<label class="form-check-label" for="ch_mentioned">
														Mentioned users
													</label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="user_user"
														id="ch_user_user">
													<label class="form-check-label" for="ch_user_user">
														Users and other users they have mentioned
													</label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="influencers"
														id="ch_influencers">
													<label class="form-check-label" for="ch_influencers">
														List of users who posted or retweeted
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- End -->
								<button id="submit_long" type="button"
									class="subscribe btn btn-primary btn-block rounded-pill shadow-sm">
									👌 Confirm
								</button>

								<br style="height: 100%;" />
								<div class="card">
									<div class="card-header">
										<label for="running_task_body" data-toggle="tooltip"
											title="Data in files will update every 10 MB">▶️ Currently Running Task
											<i class="fa fa-question-circle"></i>
										</label>

										<span id="task-started" class="card-subtitle mb-2 text-muted" hidden></span>
									</div>
									<div id="running_task_body" class="card-body">

										<p id="task-query" class="card-text">There are no currently running tasks
										</p>
										<div id="progress_wrapper">
											<div class="form-row">
												<div class="col">
													<div class="form-group">
														<div id="task-progress-div" class="progress" hidden>
															<div id="task-progress" class="progress-bar bg-success"
																role="progressbar" aria-valuenow="" aria-valuemin="0"
																aria-valuemax="100">
																<small></small>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-0">
													<div class="form-group mb-0">
														<div id="task-discarded-div" hidden>
															<h6><span class="badge badge-secondary">
																	<label id="task-discarded">🗑️<span
																			class="hidden-xs"></span></label></h6>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<button id="task-cancel" type="button" class="btn btn-danger"
											style="float: right;" hidden>Cancel task</button>
									</div>
								</div>

								<div id="results_wrapper_container" class="row">
									<div class="col">
										<div id="file-list">
										</div>
									</div>
								</div>
								<div id="selected_query_wrapper" class="row" style="visibility: hidden;">
									<div class="col">
										<input id="selected_query" class="form-control" type="text"
											placeholder="Please select a query from the dropdown table below" readonly>
									</div>
								</div>
							</div>
							<!-- End tab content -->
						</div>
					</div>
				</div>
			</div>
		</div>
</body>

</html>
