{% extends "flask_user_layout.html" %}
        {% block content %}
            <h2>{%trans%}Welcome{%endtrans%}</h2>
            <p><a href={{ register }}>{%trans%}Register{%endtrans%}</a></p>
            <p><a href={{ login }}>{%trans%}Sign in{%endtrans%}</a></p>
            <p><a href={{ profile }}>{%trans%}Profile{%endtrans%}</a></p>
            <p><a href={{ home }}>{%trans%}Home Page{%endtrans%}</a> (accessible to anyone)</p>
            <p><a href={{ emojiset }}>Emojiset page</a> (login required)</p>
            <p><a href={{ emojiset_large }}>Emojiset large page</a> (login required)</p>
            <p><a href={{ logout }}>{%trans%}Sign out{%endtrans%}</a></p>
        {% endblock %}